<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>miloche.xyz</title>
  </head>
  <body>

    <!-- First container for the AppWeather vanilla Js module appWeather.js-->
    <div class="container">
      <div class="jumbotron">
        <h1 id='title'>Theme:</h1>
        <p id="descr">temperature</p>
        <p>Grab a coffee, lauch some nice playlist and start browsing Tech and Business Newsfeeds.</p>
      </div>
      <img id="pic" src="https://media.giphy.com/media/l0He4fJxPCbfqv7Xi/source.gif" class="img-responsive" alt="city meteo">
    </div><br>

    <!-- Music App container: embedded spotify player, artist pic+caption -->
    <div class="container">
      <div class="jumbotron">
        <h1 id='title'>Music</h1>
        <p id="descr">Let's enjoy some good music ;)</p>
        <button type="button" class="btn btn-default btn-lg" onclick="setPlayer()">
          <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Another random artist.
        </button>
      </div>

      <div class='col-md-4'>
        <div class='container'>
          <h2 id="artname"></h2>
          <a target="_blank" id="similarLink">Discover similar >></a>
        </div>
        <iframe id='player' width="280" height="280" frameborder="0" allowtransparency="true"></iframe>
      </div>
      <div class='col-md-8'>
        <img class="img-responsive" id="artistpic"></img>
        <p id="artistcaption"></p>
      </div>
    </div><br>

    <!-- News Feed container: article list using angular -->
    <div class="container" ng-app="appNews" ng-controller="newsCtrl">
      <div class="jumbotron">
        <h1>Kiosk(i)</h1>
        <p>Here are cool articles from several selected sources.</p>
        <button type="button" class="btn btn-default btn-lg" ng-click="switchService()">
          <span class="glyphicon glyphicon-random" aria-hidden="true"></span>{{" "+selectedMedia}}
        </button>
      </div>
      <br>
      <div ng-repeat="(index, article) in news">
        <div class = "container">
          <a target="_blank" href={{article.url}}>
            <div class="col-md-7">
              <img src={{article.urlToImage}} class='img-responsive'></img>
            </div>
            <div class="col-md-5">
              <h2>{{article.title}}</h2>
              <p>{{article.description}}</p>
            </div>
          </a>
        </div>
        <hr>
      </div>
    </div>
    <br>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins and custom functions) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Standard and Custom compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/theme.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script src="appWeather.js"></script>
    <script src="appNews.js"></script>
    <script src="appMusic.js"></script>


    <br><br><br>

  </body>
</html>
