<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>miloche.xyz</title>
  </head>
  <body>

    <!-- First container for the AppWeather vanilla Js module appWeather.js-->
    <div class="container">
      <div class="jumbotron">
        <h1 id='title'>Theme:</h1>
        <p id="descr">temperature</p>
      </div>
      <img id="pic" src="loading.gif" class="img-responsive" alt="city meteo">
    </div><br>

    <div class="container" ng-app="appNews" ng-controller="newsCtrl" id="newsSection">
      <div class="jumbotron">
        <h1>Kiosk(i)</h1>
        <p>Here are some nice articles from {{currentSelection}}. Click "read more" for full articles.</p>

        <button type="button" class="btn btn-default btn-lg" ng-click="switchService()">
          <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Change News Source
        </button>
      </div>
      <br>

      <!-- Second container for the news Feed. Running angular with appNews.js -->
      <div ng-repeat="article in news">
        <div class = "container">
          <div class="col-md-6">
            <img src={{article.urlToImage}} class='img-responsive'></img>
          </div>
          <div class="col-md-6">
            <h2>{{article.title}}</h2>
            <p>{{article.description}}</p>
            <a href={{article.url}}>Read more...</a>
          </div>
        </div>
      </div>
    </div>
    <br>

    <!-- Just a bunch of musics -->
    <div class="container" ng-app="">
      <div class="jumbotron">
        <h1 id='title'>Music</h1>
        <p id="descr">Now let's listen some music ;)</p>
      </div>
      <div class='col-md-4'>
        <iframe src="https://embed.spotify.com/?uri=spotify:user:spotify:playlist:63dDpdoVHvx5RkK87g4LKk&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
      </div>
      <div class='col-md-4'>
        <iframe src="https://embed.spotify.com/?uri=spotify:user:milosche:playlist:1wGyfoneUt22FG78YuhlNT&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
      </div>
      <div class='col-md-4'>
        <iframe src="https://embed.spotify.com/?uri=spotify:artist:74ASZWbe4lXaubB36ztrGX&theme=white" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
      </div>

    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins and custom functions) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script src="appWeather.js"></script>
    <script src="appNews.js"></script>



    <br><br><br>

  </body>
</html>
